@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Sofia&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.web {
  width: -webkit-fill-available;
}

.sofia {
  font-family: "Sofia", cursive;  
}

.dm {
  font-family: "DM Sans", sans-serif;
}

.pro {
  font-family: 'Source Sans 3';
  font-style: normal;
  line-height: 20px;
}

.fim {
  align-content: center;
  padding-top: 100px;
}

.sidebar {
  background-color: #FBF4E9;
  height: 100vh;
  width: 280px;
  padding: 60px 30px;
  position: fixed;
  overflow-x: hidden;
  transition: width 0.3s ease; 
  z-index: 1;
}

.sidebar .grid .menos p {
  display: block;
}

.sidebar.minimizado {
  width: 110px;
}

.sidebar.minimizado .menos {
  border: none;
}

.sidebar.minimizado .menos p.menos {
  display: none;
}

.mais {
  display: none;
}

main {
  margin-left: 280px;
  flex-grow: 1;
  transition: margin-left 0.3s ease;
}
body{
  background-color: #FFFBF5;
  font-family: "Outfit", sans-serif;
  color: #2F424F;
  letter-spacing: 0.05em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: black !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

input:focus,
input:active,
textarea:focus,
textarea:active,
select:focus,
select:active {
  outline: none;
  box-shadow: none;
  border: solid #2F424F 1px;
}

.switch {
  width: 230px;
  display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner{
  margin: 0px;
  width: 228px;
  height: 50px;
  background: #193245;
  border-radius: 26px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before{
  content: attr(data-on);
  position: absolute;
  font-weight: 500;
  color: #456990;
  top: 12px;
  right: 14px;

}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after{
  content: attr(data-off);
  width: 112px;
  height: 48px;
  background: #49DCB1;
  border-radius: 26px;
  position: absolute;
  left: 2px;
  top: 1px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 6px -2px #111;
  padding: 11px 0px;
}



.btn-color-mode-switch input[type="checkbox"]{
  cursor: pointer;
  width: 50px;
  height: 25px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after{
  content: attr(data-on);
  left: 114px;
  background: #49DCB1;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before{
  content: attr(data-off);
  right: auto;
  left: 18px;
}