<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="assets/imagens/icon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/dist/output.css">
    <title>Home</title>
</head>

<body>
    <section class="flex justify-between px-10 py-5">
        <div>
            <img id="logoDaisy" src="/assets/imagens/logoDaisy.svg" style="max-width: 110px; height: auto;"
                alt="Logo Daisy">
        </div>
        <div class="flex flex-wrap items-center gap-x-12">
            <a href="/sobre">Sobre</a>
            <a href="/como">Como Funciona</a>
            <a href="/planos">Planos</a>
            <a class="border-[1px] py-3 px-4 border-[#2F424F] rounded-[80px] font-semibold" href="/login">Entrar</a>
            <a class="border-[1px] py-3 px-4 border-[#2F424F] rounded-[80px] font-semibold text-white bg-[#49DCB1]"
                href="/teste">Teste grátis</a>
        </div>
    </section>
    <section class="px-10 ">
        <div class="bg-[url('/assets/imagens/imgHome.svg')]">
            <div class="py-[140px] pl-[140px]">
                <div class="text-[70px] font-medium leading-[80px]">
                    <p class="text-[#FFE1B1]">Entrega e análise </br> dos seus dados</p>
                    <p class="text-white">de forma agilizada</p>
                </div>
                <div class="mt-5">
                    <p class="text-white text-[28px] pro mb-14">A nova assistente administrativa da sua empresa</p>
                    <a class="border-[1px] py-3 px-4 border-[#2F424F] rounded-[80px] font-semibold text-white bg-[#49DCB1]"
                        href="/teste">Experimente de graça</a>
                </div>
            </div>
        </div>
        <div class="relative">
            <div class="grid grid-rows-6 h-[350px]">
                <div class="bg-[#456990]"></div>
                <div class="bg-[#256872]"></div>
                <div class="bg-[#49DCB1]"></div>
                <div class="bg-[#FFE1B1]"></div>
                <div class="bg-[#FBF4E9]"></div>
                <div></div>
            </div>
            <div class="absolute top-0 w-full h-full">
                <div class="px-5 h-full">
                    <div class="h-full bg-[#fffbf5] py-32 px-44 text-center text-4xl">
                        <div class="absolute top-24 left-36">
                            <img class="rotate-180" src="/assets/imagens/aspas.svg">
                        </div>
                        <p>Olá, me chamo Daisy uma Inteligência Artificial, sou responsável por administrar e analisar o
                            estoque e financeiro das empresas que me contratam.</p>
                        <div class="absolute right-36 bottom-16">
                            <img src="/assets/imagens/aspas.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="flex py-28 justify-center gap-x-8">
        <div>
            <p class="text-6xl text-[#256872]">Perdendo tempo</p>
            <p class="text-6xl text-[#505050]">indo atrás de dados?</p>
            <p class="my-8 pro text-xl">Com a Dayse você ganha tempo e poupa tempo com </br> trabalhos repetitivos e
                manuais!</p>
            <a class="border-[1px] py-3 px-4 border-[#2F424F] rounded-[80px] font-semibold text-white bg-[#49DCB1]"
                href="/cadastro">Quero ganhar tempo</a>
        </div>
        <div class="flex gap-x-5">
            <img src="/assets/imagens/emoji-sad.svg" width="180px">
            <div class="flex flex-nowrap">
                <p class="text-[#FFE1B1] text-4xl fim font-semibold">X</p>
            </div>
            <img src="/assets/imagens/emoji-happy.svg" width="180px">
        </div>
    </section>
    <section class="bg-[#2F424F] grid grid-cols-12 py-28 px-44">
        <div class="col-span-4">
            <img src="/assets/imagens/celular.svg" width="320px">
        </div>
        <div class="text-white col-start-6 col-span-8 content-center">
            <p class="text-[#FFE1B1] text-6xl">Agilize as <br> entregas e análises</p>
            <p class="text-6xl">dos seus dados</p>
            <p class="text-xl my-9">Conseguimos te fornecer dados via Whatsapp de forma precisa e rápida, com base no
                banco de dados de estoque e financeiro da sua empresa.</p>
            <a class="border-[1px] py-3 px-4 border-[#FFE1B1] text-[#FFE1B1] rounded-[80px] font-semibold" href="/cadastro">Quero ganhar tempo</a>            
        </div>
    </section>
    <section class="py-28 px-44 text-[#505050]">
        <div>
            <div class="grid grid-cols-5">
                <div class="grid col-span-3">
                    <p class="text-6xl col-span-3"><span class="text-[#256872]">Entregando </span>seus dados com
                        agilidade</p>
                    <p class="text-xl pro col-start-1 col-span-3 w-11/12 my-8">Utilizamos o Whatsapp como umas das nossas principais ferramentas de comunicação!</p>
                </div>
            </div>
            <div>
                <a class="border-[1px] py-3 px-4 border-[#2F424F] rounded-[80px] font-semibold" href="/cadastro">Quero receber
                    dados em poucos segundos</a>
            </div>
        </div>
        <div class="grid grid-cols-12 my-24">
            <div class="col-span-2 text-center">
                <img src="/assets/imagens/user-wapp.svg">
                <p class="mt-3 text-lg">Usuário envia um pedido para Daisy</p>
            </div>
            <img class="col-span-1 col-start-4 self-center" src="/assets/imagens/vector.svg">
            <div class="col-span-2 col-start-6 text-center">
                <img src="/assets/imagens/procura.svg">
                <p class="mt-3 text-lg">Daisy faz a busca no banco de dados</p>
            </div>
            <img class="col-span-1 col-start-9 self-center" src="/assets/imagens/vector.svg">
            <div class="col-span-2 col-start-11 text-center">
                <img src="/assets/imagens/envia.svg">
                <p class="mt-3 text-lg">Daisy retorna seu pedido em poucos segundos</p>
            </div>
        </div>
    </section>
    <section class="bg-[#2F424F] py-28 px-44">
        <div>
            <div class="grid grid-cols-5">
                <div class="grid col-span-3 text-white">
                    <p class="text-6xl col-span-3"><span class="text-[#FFE1B1]">Análises </span>precisas em poucos segundos</p>
                    <p class="text-xl pro col-start-1 col-span-3 w-11/12 my-8">Receba análises completas do seu estoque e/ou financeiro via Whatsapp!</p>
                </div>
            </div>
            <div>
                <a class="border-[1px] py-3 px-4 border-[#FFE1B1] text-[#FFE1B1] rounded-[80px] font-semibold" href="/cadastro">Quero agilizar meus processos de análises</a>
            </div>
        </div>
        <div class="grid grid-cols-11 my-24 gap-x-3 justify-items-center text-white">
            <div class="col-span-2 text-center">
                <img src="/assets/imagens/user-wapp.svg">
                <p class="mt-3 text-lg">Usuário envia um pedido de análise</p>
            </div>
            <img class="self-center" src="/assets/imagens/vector-yellow.svg">
            <div class="col-span-2 text-center">
                <img src="/assets/imagens/procura.svg">
                <p class="mt-3 text-lg">Daisy faz a busca no banco de dados</p>
            </div>
            <img class="self-center" src="/assets/imagens/vector-yellow.svg">
            <div class="col-span-2 text-center">
                <img src="/assets/imagens/icon-ia.svg">
                <p class="mt-3 text-lg">Daisy usa AI para analisar seus dados</p>
            </div>
            <img class="self-center" src="/assets/imagens/vector-yellow.svg">
            <div class="col-span-2 text-center">
                <img src="/assets/imagens/envia.svg">
                <p class="mt-3 text-lg">Daisy retorna a análise em poucos segundos</p>
            </div>
        </div>
    </section>
    <section class="py-28 px-44 text-[#505050]">
        <div>
            <div class="grid grid-cols-5">
                <div class="grid col-span-3">
                    <p class="text-6xl col-span-3"><span class="text-[#256872]">Relatórios </span>de fechamento como você nunca viu</p>
                    <p class="text-xl pro col-start-1 col-span-3 w-9/12 my-8">Conseguimos te entregar relatórios de fechamento diários, mensais, bimestrais e anuais!</p>
                </div>
            </div>
            <div>
                <a class="border-[1px] py-3 px-4 border-[#2F424F] rounded-[80px] font-semibold" href="/adastro">Quero receber relatórios</a>
            </div>
        </div>
        <div class="grid grid-cols-11 my-24 gap-x-3 justify-items-center">
            <div class="col-span-2 text-center">
                <img src="/assets/imagens/user-wapp.svg">
                <p class="mt-3 text-lg">Usuário envia pedido de um relatório</p>
            </div>
            <img class="self-center" src="/assets/imagens/vector.svg">
            <div class="col-span-2 text-center">
                <img src="/assets/imagens/entrega.svg">
                <p class="mt-3 text-lg">Daisy faz a coleta de todos os dados</p>
            </div>
            <img class="self-center" src="/assets/imagens/vector.svg">
            <div class="col-span-2 text-center">
                <img src="/assets/imagens/pasta.svg">
                <p class="mt-3 text-lg">Daisy organiza os dados</p>
            </div>
            <img class="self-center" src="/assets/imagens/vector.svg">
            <div class="col-span-2 text-center">
                <img src="/assets/imagens/arquivo.svg">
                <p class="mt-3 text-lg">Daisy retorna um DOC com seus dados</p>
            </div>
        </div>
    </section>
    <section class="bg-[#256872] py-28 px-44">
        <div class="grid grid-cols-12 text-white">
            <div class="col-span-8 grid gap-y-7 text-6xl">
                <p><span class="text-[#FFE1B1]">Transforme</span> os setores de financeiro e estoque da <span class="text-[#FFE1B1]">sua empresa e reduza trabalhos manuais</span> desnecessários</p>
                <div class="col-span-8 text-2xl pro">
                    <p class="pr-5">Sabemos que na era da tecnologia, o tempo vale ouro! Não dispersasse o talento de seus colaboradores com buscas e analises manuais e repetitivas, deixe a parte "trabalhosa” com a gente e vem com a Daisy!</p>
                </div>
                <div>
                    <a class="text-xl border-[1px] py-3 px-4 border-[#FFE1B1] text-[#FFE1B1] rounded-[80px] font-semibold" href="/">Quero contratar</a>
                </div>
            </div>
            <div class="col-span-3 col-start-10">
                <img src="/assets/imagens/celular-logo.svg">
            </div>
        </div>
    </section>
    <section class="bg-[#49DCB1] py-28 px-44">
        <div class="text-white text-6xl w-8/12 leading-[75px] mb-14">
            <p>Depoimentos que quem confia na Daisy</p>
        </div>
        <div class="grid grid-cols-12 gap-4 text-white">
            <div class="col-span-4 bg-[#128664] rounded-2xl px-4 py-6">
                <p class="pro">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s standard dummy text ever since the 1500s</p>
                <div class="flex gap-x-3 mt-3">
                    <img src="/assets/imagens/icon.svg">
                    <div>
                        <p class="font-medium">Renan</p>
                        <p>Fundador Smarket</p>
                    </div>
                </div>
            </div>
            <div class="col-span-4 bg-[#128664] rounded-2xl px-4 py-6">
                <p class="pro">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s standard dummy text ever since the 1500s</p>
                <div class="flex gap-x-3 mt-3">
                    <img src="/assets/imagens/icon.svg">
                    <div>
                        <p class="font-medium">Renan</p>
                        <p>Fundador Smarket</p>
                    </div>
                </div>
            </div>
            <div class="col-span-4 bg-[#128664] rounded-2xl px-4 py-6">
                <p class="pro">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s standard dummy text ever since the 1500s</p>
                <div class="flex gap-x-3 mt-3">
                    <img src="/assets/imagens/icon.svg">
                    <div>
                        <p class="font-medium">Renan</p>
                        <p>Fundador Smarket</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-28 px-44 text-[#505050]">
        <div class="grid grid-cols-12 gap-x-4">
            <div class="col-span-5">
                <p class="text-6xl mb-7">Restou alguma dúvida?</p>
                <p class="text-4xl">A Daisy de responde:</p>
            </div>
            <div class="col-start-6 col-span-7">
                <div class="flex border-b border-[#898989] pb-6">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry?</p>
                    <img src="/assets/imagens/seta-cinza.svg">
                </div>
                <div class="flex border-b border-[#898989] pb-6">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry?</p>
                    <img src="/assets/imagens/seta-cinza.svg">
                </div>
                <div class="flex border-b border-[#898989] pb-6">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry?</p>
                    <img src="/assets/imagens/seta-cinza.svg">
                </div>
                <div class="flex border-b border-[#898989] pb-6">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry?</p>
                    <img src="/assets/imagens/seta-cinza.svg">
                </div>
                <div class="flex border-b border-[#898989] pb-6">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry?</p>
                    <img src="/assets/imagens/seta-cinza.svg">
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-[#2F424F] px-44 py-24 text-white">
        <div class="flex justify-between flex-wrap align-middle border-b pb-14 border-[#FFE1B1]">
            <div class="flex gap-x-20">
                <a href="/sobre">Sobre</a>
                <a href="/como">Como funciona</a>
                <a href="/planos">Planos</a>
                <a href="/teste">Teste grátis</a>
            </div>
            <div class="flex gap-x-7">
                <a href=""><img src="/assets/imagens/instagram.svg"></a>
                <a href=""><img src="/assets/imagens/linkedin.svg"></a>
                <a href=""><img src="/assets/imagens/whatsapp.svg"></a>
            </div>
        </div>
        <div class="flex justify-between mt-14 flex-wrap items-center">
            <img src="/assets/imagens/logo-wy.svg">
            <p>© 2024 Copyright by Dalí New Dream Tech</p>
            <a class="text-[#FFE1B1] font-semibold underline" href="">Política de privacidade</a>
        </div>
    </footer>
</body>

</html>