<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="assets/icons/icon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/dist/output.css">
    <title>Página inicial</title>
</head>

<body class="flex min-h-screen w-full">
    <nav class="sidebar">
        <div class="flex justify-between items-center">
            <img id="logoDaisy" src="/assets/imagens/logoDaisy.svg" style="max-width: 110px; height: auto;"
                alt="Logo Daisy">
            <button id="diminuir">
                <img src="/assets/imagens/menos.svg" class="w-[40px] h-[40px]" alt="Menos">
            </button>
            <button id="mais" class="mais">
                <img src="/assets/imagens/mais.svg" class="w-[40px] h-[40px] ml-[6px]" alt="Mais">
            </button>
        </div>
        <div class="absolute pt-4 grid gap-y-5 web pr-[30px]">
            <button id="button" class="menos flex border-[1px] items-center border-[#2F424F] p-2 px-4 rounded-[80px]">
                <img src="/assets/icons/chat.svg" style="max-width: 110px; height: auto;">
                <p class="ml-2 menos">Chat Daisy</p>
            </button>
            <button id="button" class="menos flex border-[1px] items-center border-[#2F424F] p-2 px-4 rounded-[80px]">
                <img src="/assets/icons/sifrao.svg">
                <p class="ml-2 menos">Meu financeiro</p>
            </button>
            <button id="button" class="menos flex border-[1px] items-center border-[#2F424F] p-2 px-4 rounded-[80px]">
                <img src="/assets/icons/caixa.svg">
                <p class="ml-2 menos">Meu estoque</p>
            </button>
            <button id="button" class="menos flex border-[1px] items-center border-[#2F424F] p-2 px-4 rounded-[80px]">
                <img src="/assets/icons/user.svg">
                <p class="ml-2 menos">Perfil</p>
            </button>
            <button id="button" class="menos flex border-[1px] items-center border-[#2F424F] p-2 px-4 rounded-[80px]">
                <img src="/assets/icons/config.svg">
                <p class="ml-2 menos">Configurações</p>
            </button>
        </div>
        <div class="absolute bottom-12 grid gap-y-2 web pr-[30px]">
            <button id="button" class="menos flex items-center p-2 px-4 w-full rounded-[80px]">
                <img src="/assets/icons/phone.svg" style="max-width: 110px; height: auto;">
                <p class="ml-2 menos">Entrar em contato</p>
            </button>
            <button id="button" class="menos flex items-center p-2 px-4 w-full rounded-[80px]">
                <img src="/assets/icons/emoji.svg">
                <p class="ml-2 menos">Teste grátis</p>
            </button>
            <form action="/logout">
                <button id="button" class="menos flex items-center p-2 px-4 w-full rounded-[80px] ">
                    <img src="/assets/icons/seta.svg">
                    <p class="ml-2 menos">Voltar para o site</p>
                </button>
            </form>
        </div>
    </nav>
    <main class="grid grid-cols-12 gap-x-6 p-14">
        <section class="col-span-3 border-[1px] border-[#2F424F] px-5 py-8 rounded-2xl">
            <div class="grid gap-y-8">
                <div>
                    <a href="/index"
                        class="flex items-center border-[1px] border-[#2F424F] rounded-[80px] h-[48px] w-full text-start text-white bg-[#49DCB1] px-3.5">
                        <span class="mr-2 text-3xl">+</span>Nova conversa
                    </a>
                </div>
                <div class="border-t-[1px] border-[#2F424F] w-full">
                </div>
                <div class="text-[#256872]">
                    <h1>Conversas recentes</h1>
                </div>
                <div class="flex overflow-hidden">
                    <img src="/assets/icons/chat.svg" class="max-w-[110px] h-auto flex-shrink-0">
                    <p class="truncate ml-2 flex-grow">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.</p>
                </div>
            </div>
        </section>
        <section class="relative col-span-9 border-[1px] border-[#2F424F] rounded-2xl overflow-hidden">
            {{ if eq .RespostaAI "" }}
            <div class="flex text-[#256872] justify-center w-full mt-8">
                <div class="grid justify-items-center">
                    <img src="/assets/icons/icon.svg">
                    <p class="text-[24px]">Como posso te ajudar?</p>
                </div>
            </div>
            {{ else }}
            <div class="absolute bottom-[108px] top-[10px] overflow-y-auto">
                <div class="flex px-5 gap-x-2 mt-10">
                    <div>
                        <img src="/assets/icons/icon.svg">
                    </div>
                    <div class="mb-10">
                        <p class="pro font-semibold">Daysi</p>
                        <div class="w-full bg-[#256872] rounded-b-[10px] rounded-se-[10px] px-4 py-3">
                            <pre class="whitespace-break-spaces pro text-white">{{ .RespostaAI }}</pre>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
            <div class="absolute flex flex-wrap items-center bottom-0 bg-[#256872] w-full h-[108px] rounded-b-2xl">
                <form class="w-full" hx-target="#resposta">
                    <div class="flex gap-x-8 w-full px-8">
                        <input class="rounded-md w-full px-5" type="text" id="pergunta" name="pergunta"
                            placeholder="Fale com a Daisy..." required>
                        <button type="submit" class="rounded-full bg-[#49DCB1] px-3 text-4xl text-white">+</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <!--     <div
        class="user-info flex justify-between w-auto p-2 h-auto text-white right-4 top-4 mt-4 mr-4 lg:mt-0 lg:fixed absolute bg-transparent border-2 border-solid border-white border-opacity-50 rounded-[8px] backdrop-blur-lg">
        <div>
            <h1 class="capitalize font-semibold text-base">{{.Username}}</h1>
            {{ if .IsAdmin }}
            <p class="text-sm user-role">Administrador</p>
            <form action="/logout" method="post">
                <button class="text-sm hover-user-role hover:underline cursor-pointer">sair</button>
            </form>
            {{ else }}
            <p class="text-sm user-role">Usuário</p>
            <form action="/logout" method="post">
                <button class="text-sm hover-user-role hover:underline cursor-pointer">sair</button>
            </form>
            {{ end }}
            {{ if .IsAdmin }}
            <p><a href="./users" class="no-underline text-sm pr-4">Gerenciar usuários</a></p>
            {{ end }}
        </div>
        {{ if .IsAdmin }}
        <div class="text-7xl">
            <iconify-icon icon="ri:admin-line"></iconify-icon>
        </div>
        {{ else }}
        <div class="text-5xl pl-4">
            <iconify-icon icon="ri:user-line"></iconify-icon>
        </div>
        {{ end }}
    </div>

    <form hx-target="#resposta" class="lg:absolute flex justify-center mx-auto mt-32 lg:mt-0 lg:top-3 lg:left-16">
        <div class="relative my-8 lg:w-[550px] w-[90vw]  border-b-2 border-white">
            <button class="absolute right-2 text-white text-[1.2em] top-4" type="submit">
                <iconify-icon icon="gg:search"></iconify-icon>
            </button>
            <input
                class="w-full h-12 bg-transparent border-0 outline-0 text-[1em] lg:px-5 pr-8 md:pl-0 md:pr-35 text-white"
                type="text" id="pergunta" name="pergunta" required>
            <label
                class="foco absolute top-2/4 left-0.5 text-white text-[1em] pointer-events-none transition duration-500"
                for="pergunta">Perguntar</label>
        </div>
    </form>
    <div class="relative lg:top-36">
        <section id="resposta" class="flex justify-center items-center w-full bg-center bg-cover">
            <div>
                <div class="p-4">
                    {{ if ne .RespostaAI "Sem pergunta fornecida." }}
                    {{ if ne .RespostaAI "Não tenho resposta para essa pergunta." }}
                    <div class="resposta">
                        <h2 class="text-white">Resposta:</h2>
                        <pre>{{.RespostaAI}}</pre>
                    </div>
                    {{ end }}
                    {{ end }}
                </div>
            </div>

            <div class="fixed text-white bottom-7 right-7">
                <p>Tempo de pesquisa: <span id="tempoDeResposta">{{.TempoDeResposta}}</span>s</p>
                <script>
                    var tempoDeRespostaElement = document.getElementById('tempoDeResposta');
                    var tempoDeResposta = parseFloat(tempoDeRespostaElement.innerHTML);
                    tempoDeRespostaElement.innerHTML = tempoDeResposta.toFixed(2);
                </script>
            </div>
        </section>
    </div> -->

    <script>
        const botoes = document.querySelectorAll('#button');

        botoes.forEach(function (botao) {
            botao?.addEventListener('click', function () {
                botoes.forEach(function (b) {
                    b.style.backgroundColor = '';
                });

                this.style.backgroundColor = '#FFE1B1';
            });
        });

        const sidebar = document.querySelector('.sidebar');
        const main = document.querySelector('main');
        const diminuirBtn = document.getElementById('diminuir');
        const maisBtn = document.getElementById('mais');

        diminuirBtn.addEventListener('click', () => {
            sidebar.classList.add('minimizado');
            main.style.marginLeft = '110px';
            diminuirBtn.style.display = 'none';
            maisBtn.style.display = 'block';
            logoDaisy.style.display = 'none';
            diminuirBotao.style.display = 'none';
            mais.style.display = 'flex';
        });

        maisBtn.addEventListener('click', () => {
            sidebar.classList.remove('minimizado');
            main.style.marginLeft = '280px';
            diminuirBtn.style.display = 'block';
            maisBtn.style.display = 'none';
            logoDaisy.style.display = 'block';
            diminuirBotao.style.display = 'block';
            mais.style.display = 'none';
        });
    </script>
</body>

</html>