<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@1.7.0/dist/htmx.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>{{.flash_message}}</h1>
    <section class="flex justify-center items-center min-h-screen w-full bg-center bg-cover">
        <div class=" flex relative w-[400px] h-[450px] bg-transparent border-2 border-solid border-white border-opacity-50 rounded-[20px] backdrop-blur-lg justify-center items-center">
            <div>
                <form action="/login" method="post">
                    <h2 class="text-3xl text-white text-center">Login</h2>
                    <div class="relative my-8 w-80 border-b-2 border-white">
                        <iconify-icon class="absolute right-2 text-white text-[1.2em] top-5" icon="mdi:user-outline"></iconify-icon>
                        <input class="w-full h-12 bg-transparent border-0 outline-0 text-[1em] px-5 md:pl-0 md:pr-35 text-white" type="text" id="username" name="username" required>
                        <label class="foco absolute top-2/4 left-0.5 text-white text-[1em] pointer-events-none transition duration-500" for="username">Usuário</label>
                    </div>
                    <div class="relative my-8 w-80 border-b-2 border-white">
                        <iconify-icon class="absolute right-2 text-white text-[1.2em] top-5" icon="ion:lock-closed-outline"></iconify-icon>
                        <input class="w-full h-12 bg-transparent border-0 outline-0 text-[1em] px-5 md:pl-0 md:pr-35 text-white" type="password" id="password" name="password" required>
                        <label class="foco absolute top-2/4 left-0.5  text-white text-[1em] pointer-events-none transition duration-500" for="password">Senha</label>
                    </div>
                    <button class="w-full h-10 rounded-[40px] bg-white border-0 outline-0 cursor-pointer text-[1em] font-semibold" type="submit">Entrar</button>
                    <div class="register text-[.9em] text-white text-center my-25 mt-8">
                        <p>Não tenho conta <a href="./cadastro" class="no-underline font-semibold">Cadastre-se</a></p>
                    </div>
                    <div class="register text-[.9em] text-white text-center my-25 mt-2">
                        <p><a href="./reset-password" class="no-underline font-semibold">Esqueceu a senha?</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        function getCookie(name) {
            const match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
            return match ? match[2] : null;
        }

        const flashMessage = getCookie('flash_message');

        if (flashMessage) {
            alert(flashMessage);
            document.cookie = 'flash_message=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
        }
    });

    document.addEventListener('DOMContentLoaded', function() {
        var usernameInput = document.getElementById('username');
        usernameInput.focus();
    });
</script>
</html>
