<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/dist/output.css">
    <link rel="icon" href="assets/imagens/icon.svg" type="image/x-icon">
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <div class="flex justify-center py-[30px]">
        <a href="/home">
            <img id="logoDaisy" src="/assets/imagens/logoDaisy.svg" style="max-width: 110px; height: auto;"
                alt="Logo Daisy">
        </a>
    </div>
    <section class="flex justify-center mx-auto lg:mx-0 items-center w-10/12 lg:w-full bg-center bg-cover">
        <div
            class="flex relative w-auto lg:w-[400px] h-auto bg-[#256872] border-2 border-solid border-white border-opacity-50 rounded-[16px] backdrop-blur-lg justify-center items-center">
            <div class="w-full">
                <div class="flex justify-center py-4">
                    <h2 class="flex font-medium text-[30px] text-white">Login</h2>
                </div>
                <form action="/login" method="post"
                    class="bg-[#FFFBF5] rounded-ee-2xl rounded-es-2xl px-[26px] py-[30px] grid gap-y-[30px]">
                    <div class="relative border-b-2 border-white">
                        <label class="text-[#505050]" for="username">Usuário</label>
                        <input
                            class="w-full border-[1px] rounded-md border-[#2F424F] h-[48px] bg-transparent lg:px-2 md:pl-0 md:pr-35"
                            type="text" id="username" name="username" required oninput="formatUsername()">
                    </div>
                    <div class="relative border-b-2 border-white">
                        <label class="text-[#505050]" for="password">Senha</label>
                        <input
                            class="w-full border-[1px] rounded-md border-[#2F424F] h-[48px] bg-transparent lg:px-2 md:pl-0 md:pr-35"
                            type="password" id="password" name="password" required>
                        <button class="absolute right-2 top-[70%] transform -translate-y-2/4" id="togglePassword"
                            type="button" onclick="togglePasswordVisibility()">
                            <iconify-icon icon="mdi:eye" id="eye-icon"></iconify-icon>
                        </button>
                    </div>
                    <button
                        class="w-full h-[48px] text-white rounded-[80px] bg-[#49DCB1] border-[1px] border-[#2F424F] cursor-pointer text-[16px] font-semibold"
                        type="submit">Entrar</button>
                    <div class="text-[#505050]">
                        <div class="register text-[.9em] text-center">
                            <p>Não tenho conta <a href="./cadastro"
                                    class="no-underline font-semibold pl-1">Cadastre-se</a></p>
                        </div>
                        <div class="register text-[.9em] text-center mt-2">
                            <p><a href="./reset-password" class="no-underline font-semibold">Esqueceu a senha?</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        function getCookie(name) {
            const match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
            return match ? match[2] : null;
        }

        const flashMessage = getCookie('flash_message');

        if (flashMessage) {
            alert(flashMessage);
            document.cookie = 'flash_message=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
        }
    });

    document.addEventListener('DOMContentLoaded', function () {
        var usernameInput = document.getElementById('username');
        usernameInput.focus();
    });

    document.addEventListener('DOMContentLoaded', function () {
        var passwordInput = document.getElementById('password');
        var togglePasswordButton = document.getElementById('togglePassword');

        togglePasswordButton.style.visibility = 'hidden';

        passwordInput.addEventListener('input', function () {
            if (passwordInput.value.trim() !== '') {
                togglePasswordButton.style.visibility = 'visible';
            } else {
                togglePasswordButton.style.visibility = 'hidden';
            }
        });
    });

    function formatUsername() {
        var usernameInput = document.getElementById('username');
        usernameInput.value = usernameInput.value.toLowerCase();
    }

    function togglePasswordVisibility() {
        var passwordInput = document.getElementById('password');
        var eyeIcon = document.getElementById('eye-icon');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            eyeIcon.setAttribute('icon', 'mdi:eye-off');
        } else {
            passwordInput.type = 'password';
            eyeIcon.setAttribute('icon', 'mdi:eye');
        }
    }
</script>

</html>