<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="assets/imagens/icon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/dist/output.css">
    <title>Perfil</title>
</head>

<body class="flex min-h-screen w-full">
    <nav class="sidebar">
        <div class="flex justify-between items-center">
            <img id="logoDaisy" src="/assets/imagens/logoDaisy.svg" style="max-width: 110px; height: auto;"
                alt="Logo Daisy">
            <button id="diminuir">
                <img src="/assets/imagens/menos.svg" class="w-[40px] h-[40px]" alt="Menos">
            </button>
            <button id="mais" class="mais">
                <img src="/assets/imagens/mais.svg" class="w-[40px] h-[40px] ml-[6px]" alt="Mais">
            </button>
        </div>
        <div class="absolute pt-4 grid gap-y-5 web pr-[30px]">
            <a href="/index" id="button"
                class="menos flex border-[1px] items-center border-[#2F424F] p-2 px-4 rounded-[80px]">
                <img src="/assets/imagens/chat.svg" style="max-width: 110px; height: auto;">
                <p class="ml-2 menos">Chat Daisy</p>
            </a>
            <a href="/financeiro" id="button"
                class="menos flex border-[1px] items-center border-[#2F424F] p-2 px-4 rounded-[80px]">
                <img src="/assets/imagens/sifrao.svg">
                <p class="ml-2 menos">Meu financeiro</p>
            </a>
            <a href="/estoque" id="button"
                class="menos flex border-[1px] items-center border-[#2F424F] p-2 px-4 rounded-[80px]">
                <img src="/assets/imagens/caixa.svg">
                <p class="ml-2 menos">Meu estoque</p>
            </a>
            <a href="/perfil" id="button"
                class="menos flex border-[1px] items-center border-[#2F424F] p-2 px-4 rounded-[80px]">
                <img src="/assets/imagens/user.svg">
                <p class="ml-2 menos">Perfil</p>
            </a>
            <a href="/config" id="button"
                class="menos flex border-[1px] items-center border-[#2F424F] p-2 px-4 rounded-[80px]">
                <img src="/assets/imagens/config.svg">
                <p class="ml-2 menos">Configurações</p>
            </a>
        </div>
        <div class="absolute bottom-12 grid gap-y-2 web pr-[30px]">
            <button id="button" class="menos flex items-center p-2 px-4 w-full rounded-[80px]">
                <img src="/assets/imagens/phone.svg" style="max-width: 110px; height: auto;">
                <p class="ml-2 menos">Entrar em contato</p>
            </button>
            <button id="button" class="menos flex items-center p-2 px-4 w-full rounded-[80px]">
                <img src="/assets/imagens/emoji.svg">
                <p class="ml-2 menos">Teste grátis</p>
            </button>
            <form action="/logout">
                <button id="button" class="menos flex items-center p-2 px-4 w-full rounded-[80px] ">
                    <img src="/assets/imagens/seta.svg">
                    <p class="ml-2 menos">Voltar para o site</p>
                </button>
            </form>
        </div>
    </nav>
    <main class="grid grid-cols-12 gap-x-6 p-14">
        Perfil
    </main>
    <script>
        const currentPath = window.location.pathname;

        const sidebarLinks = document.querySelectorAll('.sidebar a');

        sidebarLinks.forEach(link => {
            if (link.getAttribute('href') === currentPath) {
                link.style.backgroundColor = '#FFE1B1';
            }
        });

        const sidebar = document.querySelector('.sidebar');
        const main = document.querySelector('main');
        const diminuirBtn = document.getElementById('diminuir');
        const maisBtn = document.getElementById('mais');

        diminuirBtn.addEventListener('click', () => {
            sidebar.classList.add('minimizado');
            main.style.marginLeft = '110px';
            diminuirBtn.style.display = 'none';
            maisBtn.style.display = 'block';
            logoDaisy.style.display = 'none';
            diminuirBotao.style.display = 'none';
            mais.style.display = 'flex';
        });

        maisBtn.addEventListener('click', () => {
            sidebar.classList.remove('minimizado');
            main.style.marginLeft = '280px';
            diminuirBtn.style.display = 'block';
            maisBtn.style.display = 'none';
            logoDaisy.style.display = 'block';
            diminuirBotao.style.display = 'block';
            mais.style.display = 'none';
        });

        const botoes = document.querySelectorAll('#button');

        botoes.forEach(function (botao) {
            botao?.addEventListener('click', function () {
                botoes.forEach(function (b) {
                    b.style.backgroundColor = '';
                });

                this.style.backgroundColor = '#FFE1B1';
            });
        });

    </script>
</body>

</html>