<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/dist/output.css">
    <link rel="icon" href="assets/icons/icon.svg" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir senha</title>
</head>
<body>
    <section class="flex justify-center mx-auto lg:mx-0 items-center min-h-screen w-10/12 lg:w-full bg-center bg-cover">
        <div class="flex p-8 relative w-[400px] h-auto bg-transparent border-2 border-solid border-white border-opacity-50 rounded-[20px] backdrop-blur-lg justify-center items-center">
            <div>
                <form action="/send-reset-email" method="post" class="my-10">
                    <h2 class="text-3xl text-white text-center">Redefinir senha</h2>
                    <div class="relative my-8 w-80 border-b-2 border-white">
                        <iconify-icon class="absolute right-2 text-white text-[1.2em] top-5" icon="ion:mail-outline"></iconify-icon>
                        <input class="w-full h-12 bg-transparent border-0 outline-0 text-[1em] lg:px-5 md:pl-0 md:pr-35 text-white" type="email" id="email" name="email" required>
                        <label class="foco absolute top-2/4 left-0.5 text-white text-[1em] pointer-events-none transition duration-500" for="email">E-mail</label>
                    </div>
                    <div class="flex gap-x-8 justify-center">
                        <a href="./"  class="w-2/5 h-10 rounded-[40px] bg-white border-0 cursor-pointer text-[1.1em] font-semibold text-center pt-1.5">Cancelar</a>
                        <button class="w-2/5 h-10 rounded-[40px] bg-white border-0 outline-0 cursor-pointer text-[1.1em] font-semibold" type="submit">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>