<!-- ./assets/templates/users.html -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
</head>
<body>

<h1>Lista de Usuários</h1>

<!-- Lista de usuários -->
<ul>
    {{range .}}
        <li>
            {{.Username}} - {{.Email}}
            <form action="/update" method="post">
                <input type="hidden" name="id" value="{{.ID}}">
                <input type="text" name="newName" placeholder="Novo nome">
                <input type="text" name="newEmail" placeholder="Novo e-mail">
                <button type="submit">Atualizar</button>
            </form>
            <form action="/delete" method="post">
                <input type="hidden" name="id" value="{{.ID}}">
                <button type="submit">Excluir</button>
            </form>
        </li>
    {{end}}
</ul>

<!-- Adicione um formulário para adicionar novos usuários se necessário -->

</body>
</html>
